<h1>Add a comment!</h1>
<form method="POST" action="">
    <div class="form_settings">

        <p><span>Content: </span><textarea style="width:450px; height:100px" name="Comment"/></textarea></p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="Submit" /></p>
        <input type="hidden" name="token" value="[token]" />
        <input type="hidden" name="id" value="[id]" />
    </div>
</form>