<div id="menubar">
    <ul id="menu">
        <li class="selected"><a href="index.php">Home</a></li>
        <li><a href="projects.php">Projects</a></li>
        <li><a href="about.php">About</a></li>
        <li><a href="contact.php">Contact me!</a></li>
    </ul>
</div>