<div class="sidebar">
  <h3>Log-in</h3>
  <form action="login.php" method="POST">
    <div class="form_settings">
      <p><span>Username: </span><input style="width:200px;" type="text" name="Username" /></p>
      <p><span>Password: </span><input style="width:200px;" type="password" name="Password" /></p>
      <p><span>Remember me</span><input class="checkbox" name="remember" type="checkbox" value="true" /></p>
      <p style="padding-top:10px;"><input style="width:200px;" class="submit" type="submit" value="Submit" /></p>

      <input type="hidden" name="token" value="[token]" />

    </div>
  </form>
  <ul>
    <li><a href="http://twitch.tv/bleksak">Twitch</a></li>
    <li><a href="#">Facebook</a></li>
  </ul>
  <h3>Search</h3>
 <!--- <form method="GET" action="search.php" id="search_form">
    <p>
      <input class="search" type="text" name="search" placeholder="Enter keywords....." />
      <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
    </p>
  </form> !-->
</div>
