<div class="sidebar">
  <h3>Links</h3>
  <ul>
    <li><a href="account.php">Account settings</a></li>
    <li><a href="logout.php">Logout</a></li>
    <li><a href="http://twitch.tv/bleksak">Twitch</a></li>
    <li><a href="#">Facebook</a></li>
  </ul>
  <h3>Search</h3>
<!--- <form method="GET" action="search.php" id="search_form">
    <p>
      <input class="search" type="text" name="search" placeholder="Enter keywords....." />
      <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
    </p>
  </form> !-->
</div>
